@model List<Department>

<title>All Departments</title>

@{
    if (Model.Count!=0)
    {
        <div class="DeleteAll">
            <a asp-action="DeleteAll" class="btn btn-danger" style="border-radius7%" >Delete All</a>
        </div>
    }
}

<h4>All Departments</h4>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department Leader</th>
            <th>Employees</th>
            <th></th><th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                @foreach(var i in ViewBag.Employees)
                {
                    if (i.Id == item.DepartmentHeadId)
                    {
                        <td>@i.Name</td>
                    }
                }
                <td>
                    @{
                        if (item.Employees == null)
                        {
                            <text>No Employees</text>
                        }
                        else
                            foreach (var employee in item.Employees)
                            {
                                foreach (var e in ViewBag.Employees)
                                {
                                    if (e.Id == employee)
                                    {
                                        <text>@string.Join(", ",e.Name)</text>
                                    }
                                }
                            }
                    }
                </td>
                <td><a asp-action="Update" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-action="Remove" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
  