@model List<Student>

<table class="form-control">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>DepartmentId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.DepartmentId</td>
                <td><a asp-Controller="Student" asp-action="Delete"
                    asp-route-id="@item.Id" class="btn btn-danger">Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>