@model Instructor

<table class="table table-dark">
    <tr>
        <th>Id </th>
        <th>Name</th>
        <th>Department Id</th>
        <th>Salary</th>
        <th>Course Id</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.DepartmentId</td>
        <td>@Model.Salary</td>
        <td>@Model.CourseId</td>
    </tr>
    
</table>