
@model List<Employee>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Employee" class="btn btn-success">Edit</a></td>
                <td>
                    <a asp-action="Delete"
                    asp-controller="Employee"
                    asp-route-id="@item.Id" onclick="ConfirmDelete()" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function ConfirmDelete(){
        var accept = confirm("Are You Sure You Want To Delete ?");
        if(accept == false)
        event.preventDefault(); // prevent going to server 
    }
</script>

<partial name="_DisplayInCards" />

<script>
    $.ajax({
        url: "Employee/TestAjax", success: function (result) {
            $("#div1").html(result);
        }
</script>