@*
@model List<Employee>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Employee" class="btn btn-success">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
*@
@model string[]

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            int iss = 0;
            int[] arr = ViewBag.Ids;
        }
        @for (int i = 0; i<Model.Length; i++)
        {
            <tr>
                <td>@Model[i]</td>
                <td>@arr[i]</td>
            </tr>
        }
    </tbody>
</table>