
@model List<Employee>

<title>All Employees</title>


    <div >
        <h2>All Employees</h2>
    </div>
@{
    if (Model.Count !=0)
    {
        <div class="DeleteAll">
            <a asp-action="DeleteAll" class="btn btn-pill">Delete All</a>
        </div>
    }
    else
    {
        <a asp-action="Add" class="btn btn-pill">Add Employee</a>
    }
}

@{
    if (ViewBag.ShowInCard != true)
    {

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>No</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Department</th>
                    <th>Tasks</th>
                    <th>Age</th>
                    <th>Years OF Experince</th>
                    <th>Country, City</th>
                    <th>Gender</th>
                    <th><a asp-action="Sort">Gross Salary</a></th>
                    <th>Net Salary</th>
                    <th>Phone Number</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    string[] arr = { "table-success", "table-danger", "table-info", "table-warning", "table-active" };
                    int counter = -1;
                }
                @foreach (var item in Model)
                {
                    if (counter == 4) { counter = -1; }
                    counter++;
                    <tr class="@arr[counter]">
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Title</td>
                        <td>
                            @foreach (var i in ViewBag.Departments)
                            {
                                if (i.Id == item.Id)
                                {
                                    <text>@i.Name</text>
                                    break;
                                }
                            }
                        </td>
                        <td>
                            @foreach (var i in ViewBag.Tasks)
                            {
                                if (i.Id == item.TaskId)
                                {
                                    <text>@i.Name</text>
                                }
                            }
                        </td>


                        <td>@item.Birthdate.ToString("dd/MM/yyyy")</td>
                        <td>@item.YearsOfExperince</td>
                        <td>@item.Country, @item.City</td>
                        <td>@item.Gender</td>
                        <td>@item.GrossSalary</td>
                        <td>@item.NetSalary</td>
                        <td>@item.PhoneNumber</td>
                        <td><a asp-action="Update" asp-route-id="@item.Id">Edit</a></td>
                        <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        foreach(var item in Model)
        {
            <partial name="_GetAnEmployeeInCard" model="item"/>
        }
    }
}
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>